<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project</title>
</head>
<body>
    <form method="post">
        <h2>Login</h2>
        {% csrf_token %}
        <label id="text">Enter your user name</label>:
        <input type="text" id="username" name="username" required/><br><br><br>
        <label id="password">Enter your password</label>:
        <input type="password" id="password" name="password" required/><br><br>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>